* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #111;
}

.logo {
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #00adb5;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(to right, #00adb5, #393e46);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin: 15px 0;
  font-size: 1.2rem;
}

.btn {
  padding: 12px 28px;
  background: #111;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.abouthtwo{
  color:#2b5782 ;
}

#aboutp{
  font-size: 23px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(87, 86, 85);
}





/* SECTIONS */
.section {
  padding: 80px 50px;
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 2.2rem;
}


/* PROJECTS */
.projects {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  background: rgb(67, 78, 105);
  width: 250px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}.projecthtwo{
  color: #2b5782;
}


.project3{
  color: white;
}
.projectp{
  color: rgb(176, 176, 37);
}

/* CONTACT */
#contact p {
  margin: 10px 0;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    margin-top: 10px;
  }

  .hero h1 {
    font-size: 2.3rem;
  }
}
